.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .project-card-link {
    text-decoration: none;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width of the card */
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: scale(1.02);
  }
  
  .project-card img {
    width: 60%; /* Adjust this value based on how much space you want the image to take */
    height: auto;
    border-radius: 8px;
  }
  
  .project-details {
    flex: 1;
    padding-left: 20px;
  }
  
  .project-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-details p {
    font-size: 16px;
    color: #555;
  }
  